<img id="medicalTech" src="assets/images/Medical_Tech.jpg" >
<div class="row">
    
    <div class="col-md-12">
        <h3 class="text-info font-stylings">Avoid going to a over-crowded clinic.</h3>
    </div>

</div>
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h3 class="text-info font-stylings">Need monthly medication delivery services</h3>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h3 class="text-info font-stylings">Book an appoinment for body checkup</h3>
    </div>
</div>
<br><br>
<br><br>
<div class="font-stylings h5 ml-4"><a routerLink="/signup">First Time User? Sign Up</a></div>

